body
{
	background-color: lightblue;
}

.schedule_table
{
	border: 1px solid black;
}

.schedule_table td, th
{
	border: 1px solid black;
	text-align: center;
}

.schedule_table th
{
	font-size: 12px;
}

.schedule_table td
{
	font-size: 12px;
	vertical-align: text-top;
}

.schedule_trip_name
{
	font-size: 10px;
}

.alt_station_name
{
	font-size: 10px;
	font-style: italic;
}

.sched_line_identifier:hover
{
	background-color: #FFFFFF;
}
